<div class="osf-box p-md m-b-lg clearfix m-t-xl">
    <p>{{t "discover.main.box.paragraph" documentType=provider.documentType}}</p>
    {{#link-to (if theme.isSubRoute "provider.submit" "submit")
       type="button" class="btn btn-success btn-lg"
       invokeAction=(action 'click' 'button' 'Discover - Add Preprint')
    }}
        {{t "discover.main.box.button" documentType=provider.documentType}}
    {{/link-to}}
</div>

