{{#each sortedList as |pair|}}
    <div class="subject row m-b-sm">
        {{#each pair as |provider|}}
            <div class="col-xs-12 col-sm-6 subject-item">
                <a
                    class='btn btn-primary p-sm'
                    href="{{osfUrl}}preprints/{{theme.provider.id}}/discover?sources={{provider}}">
                    {{provider}}
                </a>
            </div>
        {{/each}}
    </div>
{{/each}}
