{{#basic-dropdown
    onOpen=(action 'onOpen' assertionName)
    as |dropdown|
}}
    {{#dropdown.trigger class='assertions-dropdown-trigger'}}
        <span class='assertion-name'>
            {{~assertionName~}}
        </span>
        {{~available}}
        {{fa-icon (concat 'caret-' (if dropdown.isOpen 'up' 'down')) fixedWidth=true}}
    {{/dropdown.trigger}}
    {{yield (hash
        isOpen=dropdown.isOpen
        content=(component dropdown.content defaultClass='assertions-dropdown-content'))
    }}
{{/basic-dropdown}}