<ul class='assertions-links'>
    {{#each links as |href|}}
        <li>
            <a href={{href}} target='_blank' rel='noopener' onclick={{action 'click' 'link' '{{analyticsName}}'}}>
                {{href}}
            </a>
        </li>
    {{/each}}
</ul>