{{#bs-modal open=isOpen body=false header=false footer=false}}
    {{#bs-modal-header}}
        <h3 class="modal-title">Share Preprint</h3>
    {{/bs-modal-header}}
    {{#bs-modal-body}}
        Once this preprint is made public, you should assume that it will always be public. Even if you delete it, search engines or others may access the files before you do so.
    {{/bs-modal-body}}

    {{#bs-modal-footer}}
        <div align="right">
            <button {{action 'close'}} class="btn btn-default"> Cancel </button>
            <a class="btn btn-success" {{action 'savePreprint'}}>Share </a>
        </div>
    {{/bs-modal-footer}}
{{/bs-modal}}
