{{dropzone-widget
    url=url
    options=dropzoneOptions
    sending=(action 'sending')
    buildUrl=(action 'getUrl')
    complete=(action 'complete')
    preUpload=(action 'preUpload')
    defaultMessage='Drop preprint file here to upload'
    maxfilesexceeded=(action 'maxfilesexceeded')
}}

{{#liquid-if hasFile use='crossFade'}}
    {{#liquid-bind hasFile use='crossFade'}}
        {{validated-input model=this valuePath='nodeTitle' placeholder="Enter preprint title" value=nodeTitle}}
    {{/liquid-bind}}
{{/liquid-if}}

<div class="p-t-xs pull-right">
    <button class="btn btn-primary" disabled={{not (and (not uploadInProgress)(and hasFile titleValid))}} {{action 'createProjectAndUploadFile'}}>Next</button>
</div>