{{dropzone-widget
    url=url
    options=dropzoneOptions
    sending=(action 'sending')
    buildUrl=(action 'getUrl')
    complete=(action 'complete')
    preUpload=(action 'preUpload')
    maxfilesexceeded=(action 'maxfilesexceeded')
}}

<div class="p-t-xs pull-right">
    <button class="btn btn-primary" disabled={{not hasFile}} {{action 'createProjectAndUploadFile'}}>Next</button>
</div>
