<label> 1. Upload your preprint </label>
{{dropzone-widget
    url=url
    options=dropzoneOptions
    sending=(action 'sending')
    buildUrl=(action 'getUrl')
    complete=(action 'complete')
    preUpload=(action 'preUpload')
    maxfilesexceeded=(action 'maxfilesexceeded')
}}

{{#liquid-if hasFile use='crossFade'}}
    {{#liquid-bind hasFile use='crossFade'}}
        <label> 2. Enter preprint title </label>
        {{input class='form-control m-v-md' value=nodeTitle}}
    {{/liquid-bind}}
{{/liquid-if}}

<div class="p-t-xs pull-right">
    <button class="btn btn-primary" disabled={{not (and hasFile nodeTitle)}} {{action 'createProjectAndUploadFile'}}>Next</button>
</div>