{{yield}}
{{#if (eq model.name "engrXiv")}}
    <div class="text-center permission-footer-language ">
        <span>arXiv is a trademark of Cornell University, used under license. This license should not be understood to indicate endorsement of content on engrXiv by Cornell University or arXiv.</span>
    </div>
{{/if}}

{{#if (eq model.name "SocArXiv")}}
    <div class="text-center permission-footer-language ">
        <span>arXiv is a trademark of Cornell University, used under license.</span>
    </div>
{{/if}}

{{#if (eq model.name "PsyArXiv")}}
    <div class="text-center permission-footer-language ">
        <span>arXiv is a trademark of Cornell University, used under license. This license should not be understood to indicate endorsement of content on PsyArXiv by Cornell University or arXiv.</span>
    </div>
{{/if}}
