{{yield}}
{{#if (eq model.name "engrXiv")}}
    <div class="text-center permission-footer-language ">
        <span>{{t "components.permission-language.engrXiv"}}</span>
    </div>
{{/if}}

{{#if (eq model.name "SocArXiv")}}
    <div class="text-center permission-footer-language ">
        <span>{{t "components.permission-language.SocArXiv"}}</span>
    </div>
{{/if}}

{{#if (eq model.name "PsyArXiv")}}
    <div class="text-center permission-footer-language ">
        <span>{{t "components.permission-language.PsyArXiv"}}</span>
    </div>
{{/if}}
