<label>
    {{t "components.file-uploader.title_label"}}:
    {{validated-input model=this valuePath='title' placeholder=(t "components.file-uploader.title_placeholder" documentType=documentType) value=title pressSubmit=pressSubmit input=(action "isValid")}}
</label>