<div class="col-md-6">
    <label>
        <span class="required">Title:</span>
        {{validated-input model=this valuePath='title' placeholder="Title" value=title}}
    </label>
    <label>
        DOI:
        {{validated-input model=this valuePath='doi' placeholder="DOI" value=doi}}
    </label>
    <label>
        Tags:
        {{input class="form-control" value=tags}}
    </label>
</div>
<div class="col-md-6">
    <label>
        <span class="required">Abstract:</span>
        {{validated-input model=this valuePath='abstract' placeholder="" value=abstract large=true}}
    </label>
</div>
