<div class="preprint-navbar">
    <div class="container">
        <div class="navbar-brand">{{#link-to "index" class=""}}OSF Preprints{{/link-to}}</div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li id="osfNavDashboard">{{#link-to "submit" class=""}}Add a preprint{{/link-to}}</li>
                <li id="osfNavDashboard">{{#link-to "discover" class=""}}Search{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>
