<div class="space-top space-bottom input-group input-group-lg">
    <input type="search" class="form-control" placeholder="Search preprints...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
    </span>
</div>