<div class="input-group input-group-lg m-t-lg">
    <input id="searchBox" type="search" class="form-control" placeholder="Search preprints...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "search" this}}>Search</button>
    </span>
</div>
