<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        Sort by: {{chosenOption}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortBy">
        {{#each options as |option index|}}
            <li style="cursor: pointer; cursor: hand"><a {{action "select" index}}>{{option}}</a></li>
        {{/each}}
    </ul>
</div>
