<ul>
    {{#each sortedList as |pair|}}
        <ul class="subject row">
            {{#each pair as |subject|}}
                <li class="col-md-6">
                    {{#link-to 'discover' (query-params subjectFilter=subject.text) class='btn btn-primary'}}
                        {{subject.text}}
                    {{/link-to}}
                </li>
            {{/each}}
        </ul>
    {{/each}}
</ul>
