{{#each sortedList as |pair|}}
    <div class="subject row m-b-sm">
        {{#each pair as |subject|}}
            <div class="col-xs-12 col-sm-6 subject-item">
                <a
                    href="{{osfUrl}}preprints/{{theme.provider.id}}/discover?{{subject.path}}"
                    class="btn btn-primary p-sm"
                >
                    {{subject.text}}
                </a>
            </div>
        {{/each}}
    </div>
{{/each}}
