{{#each sortedList as |pair|}}
    <div class="subject row m-b-sm">
        {{#each pair as |subject|}}
            <div class="col-sm-6 subject-item {{if (get subjectTooltips subject.text) 'subject-tooltips'}}" data-html="true" data-toggle="tooltip" title={{get subjectTooltips subject.text}}>
                {{#link-to 'discover' (query-params subjectFilter=subject.text) class='btn btn-primary p-sm'}}
                    {{subject.text}}
                {{/link-to}}
            </div>
        {{/each}}
    </div>
{{/each}}
