{{fa-icon icon="cloud-upload" size=5}}
<h1 class="f-w-xl">Contribute your research</h1>
<h3 class="f-w-md" style="margin-left:auto; margin-right:auto; width:800px;">You can upload a preprint or choose a file from an existing OSF file to tag as a preprint if you are already have an OSF account.</h3>

<button {{action 'modalShow'}}class="btn btn-success btn-lg" data-toggle="modal" data-target="#bs-Modal">
    Add a preprint
</button>

{{!--#link-to "add-preprint" class="btn btn-success btn-lg" action "modalShow"}}Add a preprint{{/link-to--}}


<!-- Modal -->
{{#if showModal}} <!--Open property of modals? Because this showModeal is wrong-->
 {{#bs-modal body=false footer=false title="Attention" submitAction=(action "submit")}}
   {{#bs-modal-body}}An OSF account is required to upload a preprint.{{/bs-modal-body}} <!--add the OSF logo here-->
        {{#bs-modal-footer as |footer|}}
          {{#link-to "add-preprint" type="button" class="btn btn-primary"}}Login{{/link-to}}
          {{#bs-button action=(action "close" target=footer) class="btn btn-default"}}Cancel{{/bs-button}}
   {{/bs-modal-footer}}
 {{/bs-modal}}
{{/if}}


