<div class="col-sm-12" style="padding-bottom:30px;">{{!COL}}
    {{#oauth-popup authUrl=authUrl loginSuccess=(action 'loginSuccess') loginFail=(action 'loginFail') as |popup|}}
        <div class="col-sm-12">
            {{!TODO: Don't create the same button twice}}
            {{#if session.isAuthenticated}}
                {{#link-to "submit" type="button" class="btn btn-info btn-lg"}}Add a preprint{{/link-to}}
            {{else}}
                <button class="btn btn-success btn-lg" onclick={{action 'login' target=popup}}>
                    Add a preprint
                </button>
            {{/if}}
        </div>
    {{/oauth-popup}}

</div> {{!END COL}}
