a,
.preprint-form-section header {
  color: #6789D3; }

.preprint-header {
  background-color: #FFFFFF;
  color: black;
}
.preprint-header .provider-brand {
    height: 140px;
}
 .preprint-header a:not(.btn) {
    color: black;
}


.preprint-navbar,
.preprint-navbar .nav > li > a.active {
  background-color: #6789D3;
  color: black; }

.preprint-navbar .navbar-toggle .icon-bar {
  background-color: black; }

.preprint-navbar a {
  color: black; }

.preprint-navbar a.navbar-brand {
  color: black; }

.preprint-navbar .navbar-brand:hover,
.preprint-navbar .nav > li > a:hover {
  background-color: #6789D3;
}

.preprint-navbar .nav > li.open,
.preprint-navbar .nav > li.open > a,
.preprint-navbar .nav > li.open > a:hover,
.preprint-navbar .nav > li.open > a:focus:not(.active):hover,
.preprint-navbar .nav > li > a:focus:not(.active):hover {
  background-color: #3F6AC8;
  color: white; }

#preprint-form-subjects .subject,
#preprint-form-subjects .subject > .fa,
#preprint-form-subjects ul li.selected,
#preprint-form-subjects ul li:active {
  background-color: #6789D3;
  color: black; }

#preprint-form-subjects .subject:hover,
#preprint-form-subjects .subject:hover > .fa,
#preprint-form-subjects ul li:hover {
  background-color: #FFFFFF;
  color: black; }

#preprint-form-subjects .subject b:after {
  border-left-color: #6789D3; }

#preprint-form-subjects .subject:hover > b:after {
  border-left-color: #FFFFFF; }

#preprint-form-subjects .subject .right-arrow:before {
  border-left: 1.4rem solid #6789D3; }

#preprint-form-subjects .subject:hover .right-arrow:before {
  border-left-color: #FFFFFF; }

.dropdown-menu > li > a:hover {
  color: #FFFFFF; }

.subject-item > .btn-primary {
  color: black;
  background-color: #6789D3;
  border-color: #FFFFFF; }

.subject-item > .btn-primary:hover {
  background-color: #FFFFFF;
  border-color: #6789D3; }

.preprint-filter,
.preprint-filter .fa {
  color: black; }

.preprint-error-page,
.preprint-advisory,
.preprint-submit-header,
.search-header,
.provider-filter {
  background: #FFFFFF;
  color: black; }

.subject-filter,
.subject-filter .fa {
  background-color: #6789D3; }

  .preprint-error-page a:not(.btn),
  .preprint-advisory a:not(.btn) {
    color: #3F6AC8;
}

/* This needs to be in every style.css to have discover page show right logo */
.provider-brand {
    background-image: url('./wide_color.png');
}
