/* Import variables before bootstrap so that boostrap variables can be overridden */
@import 'variables';
@import 'bootstrap';
@import 'ember-power-select';
@import 'daterangepicker.scss';
@import 'c3';
@import 'hint';
@import 'ember-basic-dropdown';
@import 'osf-style';

@import 'authors';
@import 'validated-input';
@import 'error-page';
@import 'search-facets';
@import 'preprint-detail-page';
@import 'author-assertions';


/* GLOBAL to PREPRINTS, these may be used in multiple pages */
.pointer {
    cursor: pointer;
}
body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 50px;
}

.btn-wrap {
    white-space: normal;
}
ul.comma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: "";
    }
    li div.unclaimed-user-modal {
        display: inline;
    }
    span:hover {
        background: gray;
    }
}

.provider-brand {
    background: url('img/preprints-logo.png') top center no-repeat;
    height: 70px;
    background-size: contain;
}


/* Preprint navbar */
.preprint-navbar {
    position: fixed;
    top: 51px;
    width: 100%;
    padding: 0;
    background: #578CA2;
    z-index: 99;
    box-shadow: 0 0 4px #525151;
    border-radius: 0;
    a {
        color: #ffffff;
    }
    .nav > li > a:hover, .nav > li > a.active, .navbar-brand:hover {
        background-color: #65a0b9;
    }
    .nav > li > a:focus:not(.active) {
        background-color: transparent;
    }
    .navbar-brand a {
        text-decoration: none;
    }
    .navbar-brand a:hover {
        text-decoration: none;
    }
    .navbar-toggle {
        color: #eeeeee;
    }
}

/* This should be a temporary adjustment */
@media (max-width: 768px) {
    .preprint-navbar {
        top: 50px;
    }
}
/* INDEX page */
/* Global to index */

.carousel-control.left, .carousel-control.right {
    background-image: none // Overrides bootstrap defaults for carousel background gradient
}
.icon-next.dark-control {
    color: black;
}

.icon-prev.dark-control {
    color: black;
}

@media (max-width: 768px) {
    #providerCarousel {
        .carousel-control .icon-next, .carousel-control .icon-prev {
            margin-top: -30px;
            font-size: 50px;
        }
    }
}

/* Main header with search bar */
.preprint-header{
    background:#214661 url('img/preprints-bg.jpg') top center ;
    background-position-y: -50px;
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    color: white;
    h1 {
        font-size: 41px;
        font-weight: 300;
    }
    a:not(.btn) {
        color: #80c2f7;
        text-decoration: underline;
    }
    .btn-info {
        color: #fff
    }

}

.preprint-lead,
.preprint-tool h2
{
    text-transform: capitalize;
}

/* Recent uploads list panel */
.preprint-list {
    background: #fbfbfb;
    border-bottom: 1px solid #eee;
}

/* Subject Panel */
.preprint-subjects {
    background-color: #f1f3f2;
    border-bottom: 1px solid #6d8a98;;
    .subject-item a {
        width: 100%;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Preprint providers and become provider */
.preprint-tool {
    background: #cbd9d5 url('img/index-tool-bg.jpg') top center;
    color: #FFFFFF;
    text-shadow: 0 0 5px #506069;
    background-size: cover;
    .provider-logo {
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

$logo-dir: 'img/provider_logos/';

.provider-osf {
    background-image: url($logo-dir + 'osf-small.png');
}
.provider-osf-dark {
    background-image: url($logo-dir + 'osf-dark-small.png');
}
.provider-osf-color {
    background-image: url($logo-dir + 'osf-color-small.png');
}

.preprint-advisory  {
    background-color: #f3f5f7;
    border-bottom: 1px solid #e0e6ea;
    ul {
        list-style: none;
        li {
            padding-top: 5px;
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .subject-item {
        margin-bottom: 5px;
    }
    .subject.row {
        margin-bottom: 0;
    }
    .provider-logo {
        margin-bottom: 15px;
    }
}


/* SEARCH page */
/* Global to search */


/* Header panel */
.search-header {
    padding-top: 70px;
    background: #e0ebef url('img/search-bg.jpg') top center;
    background-size: cover;
    background-position-y: -50px;
    .share-logo {
        width: 46px;
        height: 22px;
        background: url('img/share-logo-icon.png') no-repeat;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
    }
}
.search-main {
    background-color: #fbfbfb !important;
    border-bottom: 1px solid #dedede;
    .filter-heading {
        background-color: #efefef;
    }
    label {
        font-weight: normal;
    }
    .search-sidebar ul {
        padding-left: 25px;
        li {
            list-style: none;
        }
    }
    .search-result {
        margin-bottom: 10px;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        box-shadow : 0 1px 2px #ddd;
        border: none;
        h4 {
            font-weight: normal;
        }
    }
}

.preprint-filter {
    margin: 2px;
    padding: 0px 6px;
    line-height: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    display: inline-block;
}
.provider-filter {
    background-color: #578ca2;
    color: #eeeeee;
}
.subject-filter {
    background-color: #d7e6e9;
    .fa {
        color: #777777;
    }
}

/* VIEW page */

.subject-preview {
    display: inline-block;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 1px 7px;
    margin-bottom: 4px;
}

.dark-overlay-header-background {
    background: #343333 url("img/dark-overlay.png") top center;
}
#view-page {
    background-color: #FCFCFC;
    font-family : 'Open Sans', Helvetica, sans-serif;
    .osf-box-lt {
        background-color: #F3F5F5;
    }
    .header-row {
        color: #ffffff;
        padding-top: 40px;
    }
    .view-authors {
       color: white;
       padding-bottom: 15px;
        a {
           color: #6dd1de;
       }
    }
    .detail-header-info {
       font-size: 14px;
       display: flex;
        .detail-header-item {
           margin-right: 25px;
       }
        a {
           color: #6dd1de;
       }
    }
    .detail-header-label {
       font-size: 11px;
       text-transform: uppercase;
       padding-bottom: 2px;
    }
    .round-btn {
        border-radius: 25px;
        background-color: #4c4c4c;
        color: white;
    }
    #mfr-col {
        position: relative;
        .expand-mfr-carrot {
            position: absolute;
            right: 0;
            top: 0;
            color: #888888;
            background: 0;
            border: 0;
            outline: none;
        }
    }
    .abstract {
        white-space: pre-line;
    }
    .abstract-truncated:after {
        content: ' \2026';
    }
    .project-box {
        div {
            min-height: 100px;
        }
    }
    .license-text {
        pre {
            white-space: pre-wrap;
            font-size: 75%;
            border:none;
            width:100%;
            text-align:justify;
            max-height: 300px;
            word-break: normal;
        }
        span {
            cursor: pointer;
        }
    }
}

/* Moderation */

$color-alert-bg-warning: #FCF8E3;
$color-alert-border-warning: #FAEBCC;
$color-alert-text-warning: #8A6D3B;

$color-alert-bg-success: #DFF0D8;
$color-alert-border-success: #D6E9C6;
$color-alert-text-success: #3C763D;

$color-alert-bg-danger: #F2DEDE;
$color-alert-border-danger: #EBCCD1;
$color-alert-text-danger: #A94442;

$color-alert-bg-info: #D9EDF7;
$color-alert-border-info: #BCE8F1;
$color-alert-text-info: #31708F;

$color-bg-color-grey: #333333;
$color-bg-color-light: #EEEEEE;
$color-border-light: #DDDDDD;

/* Chronos Submission Status */
.chronos-status-drafted {
    color: $color-alert-text-warning;
}

.chronos-status-submitted {
    color: $color-alert-text-warning;
}

.chronos-status-accepted {
    color: $color-alert-text-success;
}

.chronos-status-rejected {
    color: $color-alert-text-danger;
}

.chronos-status-published {
    color: $color-alert-text-success;
}

.preprint-status-pending-pre {
    background-color: $color-alert-bg-warning;
    border: 1px solid $color-alert-border-warning;
    color: $color-alert-text-warning;

    .status-icon {
        -webkit-text-stroke: 1px $color-alert-text-warning;
        font-size: 14px;
    }
}

.preprint-status-pending-post {
    background-color: $color-alert-bg-info;
    border: 1px solid $color-alert-border-info;
    color: $color-alert-text-info;

    .status-icon {
        -webkit-text-stroke: 1px $color-alert-text-info;
        font-size: 14px;
    }
}

.preprint-status-accepted {
    background-color: $color-alert-bg-success;
    border: 1px solid $color-alert-border-success;
    color: $color-alert-text-success;

    .status-icon {
        -webkit-text-stroke: 0px;
        font-size: 16px;
    }
}

.preprint-status-rejected {
    background-color: $color-alert-bg-danger;
    border: 1px solid $color-alert-border-danger;
    color: $color-alert-text-danger;

    .status-icon {
        -webkit-text-stroke: 0px;
        font-size: 16px;
    }
}

.preprint-status-withdrawn {
    background-color: $color-alert-bg-warning;
    border: 1px solid $color-alert-border-warning;
    color: $color-alert-text-warning;

    .status-icon {
        -webkit-text-stroke: 1px $color-alert-text-warning;
        font-size: 14px;
    }
}

.preprint-status-component {
    margin-top: -15px;
    margin-bottom: 15px;
}

#preprint-status {
    .flex-container {
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: row;
        align-content: space-between;

        strong {
            display: inline-block;  // required for the text-transform
        }
        strong::first-letter {
            text-transform: uppercase;
        }
        .status-explanation {
            padding-right: 15px;
        }
        .reviewer-feedback {
            margin-left: auto;
            padding-right: 15px;

            .dropdown-menu {
                font-size:62.5%;
                background-color: $color-bg-color-light;
                color: $color-bg-color-grey;
                border: 1px solid $color-border-light;
                width: 445px;
                left: auto;
                right: 15px;
                margin-top: 0px;
                z-index: 98;  // prevent dropdown from scrolling over navbar

                .status {
                    font-size: 1.4em;
                }

                .moderator-comment {
                    font-size: 1.8em;
                    background-color: white;
                    padding: 30px 15px;

                    p {
                        padding-bottom: 5px;
                    }
                }

                .feedback-header {
                    font-size: 2.0em;
                    border-bottom: 1px solid $color-border-light;
                    padding: 5px 15px 8px 15px;

                    a {
                        color: grey;
                        float: right;
                    }
                }

                .feedback-footer {
                    border-top: 1px solid $color-border-light;
                }
            }
        }
    }
}

/* SUBMIT page */

.preprint-submit-header {
    padding-top: 70px;
    background: url("img/submit_bg.jpg") no-repeat top center;
    background-size: cover;
    background-position-y: -50px;
    border-bottom: 1px solid #eee;
    height: 200px;
    a {
        color: white;
        text-decoration: underline;
    }
}
.preprint-submit-body {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 50px;

    .instructions {
        font-size: 18px;
    }

    .submit-section {
        font-size: 18px;
        padding-top: 20px;

        #validation-errors {
            margin-bottom: 10px;
        }

        .information {
            margin-bottom: 15px;
        }

        button {
            font-size: 18px;
            margin-left: 15px;
        }
    }
}

.preprint-form-block {
    margin-top: 20px;
    background: #fff;
    padding:10px 20px 20px 20px;
    box-shadow: 0 0 3px #ddd;
    label {
        width: 100%;
    }
    .preprint-header-preview {
        color: #444;
        font-size: 15px;
        i {
            color: #888;
            display: block;
        }
        .abstract {
            white-space: pre-line;
        }
    }
}
.preprint-form-upload {
    .btn-big {
        height: 80px;
        font-size: 16px;
        background-color: #eef2f3;
        white-space: normal;
    }
    .dropzone {
        background-color: #f8f8f8;
        border: 2px dashed #ddd;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .dropzone .dz-progress {
        z-index: 10;
        display: none;
    }

    &.upload-in-progress .dropzone .dz-progress {
        display: block;
    }

    .dropzone.dz-started .dz-message {
        opacity: 1; // Override default to keep from disappearing
        margin-top: 0;
        margin-bottom: 0;
        display: block;
    }

    .dropzone.dz-drag-hover {
        border-color: #95cd7e;
    }

    .radio-option {
        background: #f5f5f5;
        border-radius: 2px;
    }
}

.file-browser-header {
    display: none;
}
.file-browser {
    border: 1px solid #ddd;
    margin: 10px;
}
.ball-pulse>div {
    background-color: #b9cdd6;
}

.preprint-error-page {
    padding: 70px 0 120px 0;
    background-color: #ecf2f3;
    border-bottom: 1px solid #d6dbdc;
}

/* Usefulness of the portions of code below is doubtful, mixed with critical and unused. TODO: Go through and clean up unused code */


.no-transition {
    transition: none !important;
}



.icon-circle {
    display: inline-block;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border: 3px solid #D3E1EE;
}

.icon-bar .fa-custom-7x {
    font-size: 50px;
}

.org-logo {
    transform: translateY(50%);
    img {
        padding: 20px 20% 0 20%;
    }
    div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.blue-icon {
    color: #337AB7;
}

.osf-preprint-p {
    font-size: 16px;
}

.network-img {
    background: url("/static/img/meeting-page/network-web.png") repeat;
    background-size: contain;
    height: 1000px;
    margin-bottom: -1000px;
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.grey-background {
    background-color: #FFF;
    z-index: 2;
    position: relative;
}

.preprint-feature .btn {
    color: white;
    border-color: white;
    border-width: 4px;
    &:hover {
        background-color: #204762;
    }
}

.modal {
    color: #333;
}

// FOR SUBJECTS LIST ON INDEX
.subjectList img {
    opacity: 1.0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.logo {
    width: 150px;
    height: 150px;
}

.logo-sm {
    width: 30px;
    height: 30px;
}

.row-fluid {
    overflow: auto;
    white-space: nowrap;

    &.col-sm-6 {
        display: inline-block;
    }
}

#browse {
    .read-more-toggle-custom {
        color: #337AB7;
        &:hover {
            color: #337AB7;
        }
        &:visited {
            color: #337AB7;
        }
    }
}



// FOR FORMS ON THE PREPRINTS AND ADD-PREPRINTS PAGE

.show-more-button {
    background: 0;
    border: 0;
    outline: none;
    font-size: 2em;
}

.smallTag{
    text-align:center;
    padding:0.4em;
    border-radius:5px;
    float:left;
    margin:5px;
    margin-left:0px;
    margin-bottom:0px;
    font-size:12px;
    color: white;
}

.date {
    background-color:#4c4c4c;
}

.subjectTag {
    background-color:#006400;
}

.article{
    padding-top:1.1em;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}

#right_panel {
    margin-right: 20px;
}

.prereg-button {
    text-align:center;
    cursor: pointer;
}
.active-custom {
    background-color: #166595;
    color: white;
}

.cp-Panel.cp-is-closed .cp-Panel-body {
    height: 0;
    overflow: hidden;
}

.preprint-form-section {
    header {
        @extend a;
        cursor: pointer;
        font: {
            size: 16px;
            font-weight: bold;
        }
        display: block;
        margin: 1rem 0;
        &:hover, &:focus {
            text-decoration: none;
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
        }
        &.cp-is-open {
            cursor: default;
            color: #333;
        }
        &.valid {
            .preprint-section-status .fa {
                color: #488132;
            }
        }
        &.invalid {
            .preprint-section-status .fa {
                color: #b64949;
            }
        }
        &.not-validated {
            .preprint-section-status .fa {
                color: gray;
            }
        }
        .fa {
            font-size: 20px;
        }
        .preprint-section-status .fa {
            transition: color 0.1s linear;
        }
    }
    .cp-Panel-body {
        opacity: 0;
        overflow: hidden;
        transition: {
            property: height, opacity;
            duration: 0.2s;
            timing-function: linear;
        }
        &.cp-is-open {
            opacity: 1;
            padding: 5px;
        }
    }
    // THESE STYLES ARE INTERFERING WITH MY STYLES.
    // .row {
    //     margin: 0;
    // }
    // label, input, textarea {
    //     display: block;
    // }
    label > input, label > textarea {
        font-weight: normal;
    }
    textarea {
        resize: none;
    }
}

.fade.in {
    background: rgba(0, 0, 0, 0.08);
}

.preprint-form-section-withdraw-comment {
    header {
        font: {
            size: 16px;
            font-weight: bold;
        }
        color: #337AB7;
        display: block;
        margin: 1rem 0;
    }
    label > input, label > textarea {
        font-weight: normal;
    }
    textarea {
        resize: none;
        height: 150px;
    }
}

#author-coi-assertion {
    span.required:after {
        content: "(required)";
        color: lighten(red, 30%);
        font-weight: normal;
        margin-left: 5px;
    }

    label.coiRadioLabel {
        display: inline;
        font-weight: normal;
    }

    label.coiRadioLabel:first-of-type {
        margin-right: 15px;
    }

    .assertionDescription {
        background-color: #eee;
        color: #263947;
        padding: 20px;
        margin-bottom: 15px;
    }

    textarea {
        resize: vertical;
        min-height: 52px;
    }
}

#supplemental-materials,
#preprint-form-basics {
    span.required:after {
        content: "(required)";
        color: lighten(red, 30%);
        font-weight: normal;
        float: right;
    }
}

.right-arrow {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.4rem solid transparent;
    border-left: 1.5rem solid white;
    position: absolute;
    display: inline;
    &:before {
        content: '';
        border-top: 1.4rem solid transparent;
        border-bottom: 1.3rem solid transparent;
        position: absolute;
        margin-left: -1.5rem;
        margin-top: -1.4rem;
        transition: border-color 0.1s linear;
    }
}

.subject {
    color: white;
    overflow: hidden;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    &:hover {
        .right-arrow:before {
            border-left-color: lighten($brand-primary, 10%);
        }
    }
    .right-arrow:last-of-type {
        display: none;
    }
    .right-arrow:before {
        border-left: 1.4rem solid $brand-primary;
    }
}

.subject-align {
    display: inline-block;
}

.subject-container {
    display: inline-block;
    transition: background-color 0.1s linear;
    margin-left: -10px;
    padding-left: 10px;
    &:last-of-type {
        .cancel-subject {
            visibility: visible;
            margin-left: 10px;
        }
    }
}

.subject-container-text {
    display: inline-block;
    padding: 5px 15px ;
}

.cancel-subject {
    background: none;
    border: none;
    padding: 0;
    visibility: hidden;
    &:hover {
        color: lighten(red, 40%);
    }
    &:active {
        color: lighten(red, 20%);
    }
}

#preprint-form-subjects {
    .subject {
         background-color: $brand-primary;
         &:hover {
             background-color: lighten($brand-primary, 10%);
             & > b:after {
                 border-left-color: lighten($brand-primary, 10%);
             }
         }
         & > b {
             &%pseudo {
                 border: {
                     color: transparent transparent transparent $brand-primary;
                 }
             }
         }
    }
    ul {
        height: 30rem;
        list-style: none;
        padding: 0;
        border: 1px lightgray solid;
        overflow: hidden;
        input {
            border-style: none none solid none;
            box-shadow: none;
        }
        li {
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            border-radius: 4px;
            margin: 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            transition: {
                property: background-color, color, font-weight;
                duration: 0.1s;
                timing-function: linear;
            }
            &:hover {
                background-color: $theme-color-light;
                color: #ffffff;
            }
            &:active, &.selected {
                background-color: #337AB7;
                color: white;
                font-weight: bold;
                white-space: normal;
            }
            & + li {
                margin-top: 0;
            }
        }
    }
}

#preprint-form-authors {}

#preprint-form-submit {

}

.preprint-providers {

}

//For Supplementary File Widget
#preprint-file-view {
    section {
        position: relative;
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
        .file-selected-arrow {
            color: #578ca2;
            position: absolute;
            top: -20px;
            font-size: xx-large;
            margin: 0 auto;
        }
    }

    .osf-box{
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .box{
        background-color: white;
        text-align: center;
        cursor: pointer;
        &.selected{
            background-color: #F3F5F5;
        }
        &:hover {
            border-color: #337AB7;
        }
    }
    .show-more-button {
        color: #F3F5F5;
        background: #D8D8D8;
        font-size: 2em;
    }

    .file-versions-dropdown-menu {
        background-color: $color-bg-default;

        a {
            color: inherit;
            display: flex;
            justify-content: space-between;
            background: transparent;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        li a:hover {
            background-color: $color-border-gray-light;
            text-decoration: none;
        }
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

}

.file-browser {
    a {
        cursor: pointer;
    }

    .breadcrumb {
        margin-bottom: 0;
    }

    .file-browser-list {
        position: relative;
        height: 200px;
    }

    .file-browser-item {
        height: 30px;
        padding: 3px 3px 3px 25px;
    }

    .file-browser-item:hover {
        background-color: #E0EBF3; /* $color-hover; */
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }

    .selected {
        background-color: #337AB7; /* $color-select; */
    }
}

#selectedFileExisting {
    margin: 5px;
    padding: 5px;
}

#convertExistingOrCreateComponent {
    padding-left: 15px;
}

.toast {
    opacity: 1 !important;
}

.authors-search-button {
    height: 34px;
}

.source_code_link {
    color: white;
    text-decoration: underline;
}

.taxonomy-show-children {
    margin-right: 2px;
}

.exclamation-confirm-convert {
    font-size: 250%;
    color: $theme-color-light;
}


.toggle-button {
    overflow: hidden;

    input {
        display: none;
    }
    label {
        float: left;
        display: inline-block;
        width: 55px;
        background-color: #e4e4e4;
        color: #666666;
        text-align: center;
        text-shadow: none;
        padding: 7px 7px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition:    all .3s ease-in-out;
        -ms-transition:     all .3s ease-in-out;
        -o-transition:      all .3s ease-in-out;
        transition:         all .3s ease-in-out;
    }

    label.choose-large {
        background-color: white;
        font-size: 14px;
        padding: 10px 10px;
        height: 120px;
        text-align: center;
        width: 200px;
        display: inline;
        border: none;
        box-shadow: none;

        i {
            font-size: 70px;
        }
    }

    label.wide-text-only {
        float: none;
        margin-right: -4px;
        padding: 10px 10px;
        height: 75px;
        font-size: 14px;
        width: 250px;
        border-right: 1px solid #ccc;
        i {
            font-size: 30px;
        }
    }
    label.wide-text-only:last-of-type {
        border-right: none;
    }


    label:hover {
        cursor: pointer;
        color: gray;
    }

    input:checked + label {
        background-color: $theme-color-light;
        color: white;
    }

    label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    label i {
        font-size: 25px;
        display: block;
    }
}

label.title-label {
    font-weight: normal;
}

.preprint-form-section.upload-section-block {
    margin-top: 5px;
    padding:5px 20px 5px 20px;
    border-top: 1px solid #eee;


    header {
        font-size: 15px;
        line-height: 75%;
    }

    &.bottom-title-underline {
        border-bottom: 1px solid #eee;
    }

    .preprint-header-preview {
        color: #444;
        font-size: 14px;
        i {
            color: #888;
            display: block;
        }
        .abstract {
            white-space: pre-line;
        }
    }
}

#locked-section {
    cursor: default;
}

.panel-body {
    padding: 15px 0 15px 0;
}

// Narrow views for submit
@media (max-width: 768px) {
    .preprint-form-upload .btn-big {
        min-height: 100px;
        font-size: 14px;
    }
    .toggle-button label.choose-large i {
        font-size: 35px;
    }
    .panel-body {
        padding: 0;
    }
    .table > tbody > tr > td {
         padding: 2px;
    }
}

.lock-span {
    display: inline-block;
}

.discover-provider-logo,
.submit-provider-logo {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.supplemental-downloads {
    text-align: right;
}

.current-version {
    text-align: right;
}

/* Remove gutters between bootstrap cols */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1199.98px) {

      .supplemental-downloads {
          float: none !important;
          text-align: inherit !important;
      }
}

@media (max-width: 768px) {
    .preprint-image {
        margin-top: 0 !important;
    }
    .share-row {
        margin-top: 20px;
    }
    #preprintTitle {
        text-align: center;
    }
    .detail-header-info {
        text-align: center;
        justify-content: center;
    }
    .view-authors {
        text-align: center;
    }
    .preprint-added-on {
        text-align: center;
    }
    .truncate {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #preprint-file-view { // Supplementary file browser - mobile view
        section {
            .selected{
                background-color: #F3F5F5;
            }
            a {
                text-decoration: none;
            }
            .preprint-file-link {
                color: black !important;
            }
            button {
                line-height:12px;
                position: absolute;
                left: 0px;
                &.bottom {
                    bottom: -20px;
                    top: initial !important;
                }
                &.top {
                    bottom: 155px;
                    top: initial !important;
                }
                width: 100%;
                height: 20px;
                i.fa-caret-down {
                    line-height:inherit!important;
                }
                i.fa-caret-up {
                    line-height:inherit!important;
                }
            }
        }
        .osf-box {
            margin-top: 30px !important;
            height: 160px;
            margin-bottom: 40px !important;
        }
    }
}

.discover-provider-logo {
    min-height: 80px;
    min-width: 100px;
}

.submit-provider-logo {
    min-height: 50px;
    min-width: 50px;
}

nav.preprint-navbar {
    $nav-height: 50px;

    top: 0;

    .navbar-image {
        float: left;
        clear: both;
        text-align: center;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: $nav-height - 2px;
        width: $nav-height - 2px;
        display: inline-block;
        transform: translateY(-12px);
        margin-right: 16px;
    }

    // Don't display the preprint word on small screens
    @media (max-width: 520px) {
        .navbar-preprint-word {
            display: none;
        }
    }

    .nav-user-dropdown {
        height: $nav-height;
    }

    .dropdown-menu {
        color: white;
    }

    .sign-in {
        padding-top: 8px;
    }
}

nav.branded-navbar {
    box-shadow: 0 0 4px rgba(82, 81, 81, 0.7);
}

.branded-footer {
    margin: 2.5em 0;

    p {
        margin: 0;
    }
}

.branded-footer-links {
    margin-bottom: 1em;

    div {
        display: inline-block;
        vertical-align: middle;
    }

    .social > a {
        margin: 0 4px;
    }

    .social > a:hover {
        text-decoration: none;
    }
}

// Override search-facet styling in ember-osf on discover page
.discover-page {
    .panel-default {
        border: 0 solid transparent;
        box-shadow: none;
        > .panel-heading {
              text-align: left;
              border: 0 solid transparent;
              padding: 7px 10px;
              background-color: #EFEFEF;
              justify-content: flex-start;

        }
    }
    .panel-body.individual-facet {
        padding: 10px 0;
        background-color: #FBFBFB !important;
    }
    .search-sidebar {
        background-color: transparent !important;
    }
}

.alert-maintenance {
    margin-top: 50px;
    margin-bottom: 0;
}


.listOption.btn-link {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: black;
    }
    &:focus {
        color: black;
        outline: none;
    }
}

#provider-brand-background {
    height: 140px;
    background-position-x: right;
}

#sortByOptionList {
    background-color: #EFEFEF;
    min-width: 230px;
    li {
        &:hover {
            background-color: #D9D9D9;
        }
    }
}

.search-facet-taxonomy {
    .taxonomy-caret {
        vertical-align: top;
        padding-top: 4px;
    }
    .taxonomy-checkbox {
        max-width: 85%;
        word-wrap: break-word;
    }
    .taxonomy-right-padding {
        padding-right: 14px;
    }
    .taxonomy-left-padding {
        padding-left: 40px;
    }
}

.seeAllSubjects {
    margin-left: 15px;
    text-decoration: underline;
}

.provider-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    .provider-logo-item {
        display: block;
        flex: 1 0 auto;
        box-sizing: border-box;
        height: 75px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 150px;
        max-width: 150px;
        margin: 15px;
    }
}

button.provider {
    border: none;
    background-color: transparent;
}

button.provider:focus {
    outline: 0;
}

button.provider.inactive-provider {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

#preprint-form-server .row {
    margin-top: 20px;
}

img.current-provider {
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

#providerCarousel .item > div {
    text-align: center;
}

#providerCarousel .carousel-control {
    color: black;
}

@media (min-width: 768px) {
    .dl-description dd {
        margin-left: 170px;
    }
}

.dl-description dt {
    overflow: inherit;
    text-overflow: inherit;
}
