@import 'bootstrap';
@import 'base';
@import 'variables';

.highlight {
    color: $highlight-color;
}

.highlight-bold {
    color: $highlight-color;
    font-weight: 500;
}

.navbar-header {
    height: $nav-bar-height;
}

.no-transition {
    transition: none !important;
}

// OSF Preprints langing pages
.osf-preprint-header-img {
    color: black;
    padding-top: 80px;
    position: relative;
}

.osf-preprint-lead {
    font-weight: 100;
    font-size: 8em;
}

.header-background{
background-color: #9cbeb5;
color:black;
background-image: url("img/paper-logo.png");
}

.headers-div{
    h1,h2,h3,h4,h5,h6{
        display:inline;
        }
    padding-top:4%;
    padding-bottom:2%;
}

.background-logo{
    background-image: url("img/cos_center.png");
    background-repeat: repeat;
    background-size:450px;
    background-position: -150px -100px;
    padding-top:30px;
    padding-bottom:30px;
}

.list{
background-color:#fff;
}

.topic{
    background-color:#9ad6e8;
    color:black;
    width:100%;
    line-height: 40px;
    hieght:40px;
    margin-top:10px;
    text-align:vertical;
    text-decoration:none;
}

.topic:hover{
    background-color:#8c8c8c;
    color:white;
    text-decoration:none;
}

.list-group-item{
background-color:#9ad6e8;
margin:10px;
border-color:#9ad6e8;
}

.list-group-item:hover{
    background-color:#b3b3b3;
    margin:10px;
    border-color:#b3b3b3;
}

// FOR SPACE
.index {
    padding-left: 10px;
    padding-right: 10px;
}

// UNIVERSAL
h1, h2, h3, h4, h5, H6 {
    font-weight: 300;
}

h5 {
    font-size: 18px;
}

.icon-circle {
    display: inline-block;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border: 3px solid #D3E1EE;
}

.icon-bar .fa-custom-7x {
    font-size: 50px;
}

.org-logo {
    transform: translateY(50%);
    img {
        padding: 20px 20% 0 20%;
    }
    div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.blue-icon {
    color: #337AB7;
}

.osf-preprint-p {
    font-size: 16px;
}

.network-img {
    background: url("/static/img/meeting-page/network-web.png") repeat;
    background-size: contain;
    height: 1000px;
    margin-bottom: -1000px;
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.grey-background {
    background-color: #FFF;
    z-index: 2;
    position: relative;
}

.preprint-feature .btn {
    color: white;
    border-color: white;
    border-width: 4px;
    &:hover {
        background-color: #204762;
    }
}

.modal {
    color: #333;
}

#landing-page-preprint-list-background {
    background-color: rgba(255, 255, 255, .1);
    padding: 20px 20px 0px 20px;
}

/*.preprintTitle {
    color: $preprint-title;
    font-weight: bold;
}

.preprintTitle:hover {
    color: $preprint-title-hover;
} */

#landing-page-preprint-list {
    max-height: 700px;
    overflow: hidden;
    .preprintTitle {
        font-weight: bold;
        font-size: 18px;
    }
    a {
        color: $highlight-color;
        font-weight: bold;
        &:hover {
            color: $preprint-title-hover;
            text-decoration: none;
        }
    }
}

// FOR SUBJECTS LIST ON INDEX
.subjectList img {
    opacity: 1.0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

// Moving logo
.space-top {
    padding-top: 50px;
}

.space-bottom {
    padding-bottom: 60px;
}

#logo {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    position: relative;
    transition: all 1s ease-in-out;
    &.off {
        transform: rotate(180deg);
        .circle:before {
            top: -200px;
            opacity: 0;
        }
        .circle:after {
            bottom: 200px;
            opacity: 0;
        }
    }
    .circle {
        position: absolute;
        width: 50px;
        height: 50px;
        &:before {
            content: "";
            width: 50px;
            height: 50px;
            background: #FFF;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.4s ease-in-out;
            opacity: 1;
        }
        &:after {
            content: "";
            width: 30px;
            height: 30px;
            background: #38B9EB;
            border-radius: 50%;
            position: absolute;
            bottom: -10px;
            left: 10px;
            transition: all 0.6s ease-in-out;
            opacity: 1;
        }
        &:hover:before {
            top: -15px;
        }
        &:hover:after {
            bottom: -5px;
        }
    }

    #circle-1 {
        transform: rotate(0deg);
        left: 75px;
        top: 0;
    }
    #circle-2 {
        transform: rotate(45deg);
        left: 128px;
        top: 22px;
        &:after {
            z-index: -1;
        }
    }
    #circle-3 {
        transform: rotate(90deg);
        left: 150px;
        top: 75px;
    }
    #circle-4 {
        transform: rotate(135deg);
        left: 128px;
        top: 128px;
        &:after {
            z-index: -1;
        }
    }
    #circle-5 {
        transform: rotate(180deg);
        left: 75px;
        top: 150px;
    }
    #circle-6 {
        transform: rotate(225deg);
        left: 22px;
        top: 128px;
        &:after {
            z-index: -1;
        }
    }
    #circle-7 {
        transform: rotate(270deg);
        left: 0;
        top: 75px;
    }
    #circle-8 {
        transform: rotate(315deg);
        left: 22px;
        top: 22px;
        &:after {
            z-index: -1;
        }
    }
}

.tools-section {
    background-color: #dce6e7;
    color: black;

    margin-bottom: 20px;

    h4 {
        margin-bottom: 40px;
    }

    .btn {
        padding: 10px 50px;
    }
}

// Landing page sections
.subjects {
    padding-bottom:30px;
    h1 {
        padding-bottom: 20px;
    }
    th, td {
        padding: 5px;
        border-bottom: 10px solid #D9EDF7;
        /*text-shadow:
			-1px -1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			1px 1px 0 black; */
        font-weight: 300;
    }
}

.subjects-box{
    background-color:#f3f5f5;
    padding-bottom:30px;
}

td:hover {
    background-color: #3D3D3D;
}


.subjects {
    font-weight: 300;
    tr {
        font-size: 2em;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #686868; // THIS GRAY IS THE LIGHTEST IT CAN BE WITHOUT FAILING WEBAIM STANDARDS
        background-position: center top;
        background-size: cover;
        color: white;
        cursor: pointer;
    }
}

.glyphicon{
        display:none;
}

.f-w-xl {
    font-weight: 300;
}

.branded-servers {
    color: black;

    margin: auto;
    &.container-fluid {
        background-position: center top;
        background-size: cover;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .col-sm-2 {
        display: inline-block;
        float: none;
    }
}

.branded-servers-background {
    background: url("img/branded.png");
    background-color:#d3deda;

    padding-bottom:5%;

}

.contribute-text{
    padding:1%;
    font-size:15px;
}

.contribute-section{
    padding-bottom:4%;
}





.read-more-toggle-custom {
    color: $highlight-color;
    &:hover {
        color: $highlight-color;
    }
    &:visited {
        color: $highlight-color;
    }
}

.logo {
    width: 150px;
    height: 150px;
}

.row-fluid {
    overflow: auto;
    white-space: nowrap;

    &.col-sm-6 {
        display: inline-block;
    }
}

#browse {
    .read-more-toggle-custom {
        color: #337AB7;
        &:hover {
            color: #337AB7;
        }
        &:visited {
            color: #337AB7;
        }
    }
}

// FOR FORMS ON THE PREPRINTS AND ADD-PREPRINTS PAGE
main {
    padding-top: 5rem;
}

#addPreprint {
    margin-bottom: 1em;
}

.container{
        padding-right:10px;
        padding-left:10px;
    }

    .osf-box{
        border:0px;
    }

.text-muted {
    color: #777;
}

.show-more-button {
    background: 0;
    border: 0;
    outline: none;
    font-size: 2em;
}

// TODO: Import this from the correct place
.osf-gravatar > img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
    height: 27px;
}

.smallTag{
    text-align:center;
    padding:0.4em;
    border-radius:5px;
    float:left;
    margin:5px;
    margin-left:0px;
    margin-bottom:0px;
    font-size:12px;
    color: white;
}

.date {
    background-color:#4c4c4c;
}

.subjectTag {
    background-color:#006400;
}

.article{
    padding-top:1.1em;
}


#mfr {
    padding-left: 25px;
    padding-top: 25px;
}

#header {
    padding: 0px;
    margin-left: 12px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}
#view_project {
    margin-right: 20px;
    height:100px;
    padding:15px;
}

#right_panel {
    margin-right: 20px;
}

.prereg-button {
    text-align:center;
    cursor: pointer;
}
.active-custom {
    background-color: #166595;
    color: white;
}

.cp-Panel.cp-is-closed .cp-Panel-body {
    height: 0;
    overflow: hidden;
}

.preprint-form-section {
    header {
        @extend a;
        cursor: pointer;
        font: {
            size: 2rem;
            weight: bold;
        }
        display: block;
        transition: color 0.1s linear;
        margin: 1rem 0;
        &:hover, &:focus {
            text-decoration: none;
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
            border-bottom: 1px lightgray solid;
        }
        &.cp-is-open {
            cursor: default;
            color: black;
        }
        &.valid {
            .fa {
                color: $brand-primary;
            }
        }
        &.invalid {
            .fa {
                color: red;
            }
        }
        .fa {
            float: right;
            color: gray;
            transition: color 0.1s linear;
        }
    }
    .cp-Panel-body {
        opacity: 0;
        overflow: hidden;
        transition: {
            property: height, opacity;
            duration: 0.2s;
            timing-function: linear;
        }
        &.cp-is-open {
            opacity: 1;
        }
    }
    .row {
        margin: 0;
    }
    label, input, textarea {
        display: block;
    }
    label > input, label > textarea {
        font-weight: normal;
    }
    textarea {
        resize: none;
    }
}

#preprint-form-upload {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .start {
        &:before, &:after {
            @extend .col-md-2;
            content: "";
        }
        & > button {
            height: 20rem;
            background: none;
            border-radius: 1rem;
            border: gray 1px solid;
            transition: background-color 0.1s linear;
            &:hover {
                background-color: lightgray;
            }
            &:active {
                background-color: gray;
            }
        }
    }
}

#preprint-form-basics {
    span.required:after {
        content: "(required)";
        color: lighten(red, 30%);
        font-weight: normal;
        float: right;
    }
}

#preprint-form-subjects {
    .subject {
        background-color: $brand-primary;
        display: inline-block;
        color: white;
        overflow: hidden;
        padding: 0 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        border-radius: 2px;
        transition: background-color 0.1s linear;
        &:hover {
            background-color: lighten($brand-primary, 10%);
            & > b:after {
                border-left-color: lighten($brand-primary, 10%);
            }
        }
        & > b {
            display: inline-block;
            padding: 1rem 0 1rem 3rem;
            position: relative;
            &%pseudo {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 100%;
                top: 50%;
                margin-top: -5rem;
                border: {
                    style: solid;
                    width: 5rem 0 5rem 3rem;
                    color: transparent transparent transparent $brand-primary;
                }
            }
            &:before {
                @extend %pseudo;
                margin-left: 1px;
                border-left-color: white;
                z-index: 1;
            }
            &:after {
                @extend %pseudo;
                transition: border-color 0.1s linear;
                z-index: 2;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 2rem;
                &:before, &:after {
                    display: none;
                }
            }
            & + b {
                margin-left: 2rem;
            }
        }
        & > .fa {
            color: white;
            cursor: pointer;
            transition: color 0.1s linear;
            &:hover {
                color: lighten(red, 40%);
            }
            &:active {
                color: lighten(red, 20%);
            }
        }
    }
    .col-md-4 {
        padding: 0 1rem 1rem 0;
        &:last-child {
            padding-right: 0;
        }
    }
    ul {
        height: 30rem;
        list-style: none;
        padding: 0;
        border: 1px lightgray solid;
        border-radius: 1rem;
        overflow: hidden;
        input {
            border-style: none none solid none;
            box-shadow: none;
        }
        li {
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            border-radius: 1em;
            margin: 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            transition: {
                property: background-color, color, font-weight;
                duration: 0.1s;
                timing-function: linear;
            }
            &:hover {
                background-color: $theme-color-light;
            }
            &:active, &.selected {
                background-color: #337AB7;
                color: white;
                font-weight: bold;
                white-space: normal;
            }
            & + li {
                margin-top: 0;
            }
        }
    }
}

#preprint-form-authors {}

#preprint-form-submit {

}



.img-circle {
    background-color: #fff;
}

.uva-logo {
    background-size: cover;
    background-image: url("img/logo_uva.png");
}

.ua-logo {
    background-size: cover;
    background-image: url("img/logo_ua.png");
}
