@import 'bootstrap';
@import 'ember-power-select';
@import 'base';
@import 'variables';
@import 'authors';
@import 'validated-input';
@import 'hint.css';

/* Override styles from ember-osf and osf */
.footer {
    margin-top: 0;
}

/* GLOBAL to PREPRINTS */
.pointer {
    cursor: pointer;
}
body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* INDEX page */
/* Global to index */


/* Main header with search bar */
.preprint-header{
    background:#214661 url('img/preprints-bg.jpg') top center ;
    padding-top: 200px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dddddd;
    color: white;
    h1 {
        font-size: 41px;
        font-weight: 300;
    }

}
/* Recent uploads list panel */
.preprint-list {
    background: #fbfbfb;
    border-bottom: 1px solid #eee;
}

/* Subject Panel */
.preprint-subjects {
    background-color: #f1f3f2;
    border-bottom: 1px solid #ccc;
    .subject .col-md-6 a {
        width: 100%;
        font-size: 17px;
    }
}

/* Providers Panel */
.preprint-providers {
    background: #cbd9d5 url('img/index-server-bg.jpg');
    border-bottom: 1px solid #ced8d4;
    .provider-logo {
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .provider-socarxiv {
        background-image: url('img/provider_logos/socarxiv.png');
    }
    .provider-engrxiv {
        background-image: url('img/provider_logos/engrxiv.png');
    }

}

/* Contribute Panel */
.preprint-contribute {
    background-color: #f5f5f5;

}
.preprint-tool {
    background: #cbd9d5 url('img/index-tool-bg.jpg') top center;
    #logo {
        transform: scale(2);
    }
}



/* SEARCH page */
/* Global to search */


/* Header panel */
.preprint-search-header {
    padding-top: 120px;
    background: #e0ebef url('img/search-bg.jpg') top center;
    .share-logo {
        width: 46px;
        height: 22px;
        background-image: url("img/share-logo-icon.png");
        display: inline-block;
        background-size: contain;
    }
}
.preprint-search-main {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dedede;
    .filter-heading {
        background-color: #efefef;
    }
    label {
        font-weight: normal;
    }
    ul {
        padding-left: 25px;
        li {
            list-style: none;
        }
    }
}



/* VIEW page */

.dark-overlay-header-background {
    background: url("img/dark-overlay.png") no-repeat;
}


/* SUBMIT page */

.preprint-submit-header {
    padding-top: 120px;
    background: url("img/submit_bg.jpg") no-repeat top center;
    border-bottom: 1px solid #eee;
    height: 240px;
}
.preprint-submit-body {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 50px;
}

.preprint-form-block {
    margin-top: 20px;
    background: #fff;
    padding:10px 20px 20px 20px;
    box-shadow: 0 0 3px #ddd;
    label {
        width: 100%;
    }
}


/* Not found page */
.preprint-404 {
    padding: 120px 0 120px 0;
    background-color: #ecf2f3;
    border-bottom: 1px solid #d6dbdc;
}




/* Usefulness of the portions of code below is doubtful, mixed with critical and unused. TODO: Go through and clean up unused code */

.navbar-header {
    height: $nav-bar-height;
}

.no-transition {
    transition: none !important;
}



.icon-circle {
    display: inline-block;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border: 3px solid #D3E1EE;
}

.icon-bar .fa-custom-7x {
    font-size: 50px;
}

.org-logo {
    transform: translateY(50%);
    img {
        padding: 20px 20% 0 20%;
    }
    div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.blue-icon {
    color: #337AB7;
}

.osf-preprint-p {
    font-size: 16px;
}

.network-img {
    background: url("/static/img/meeting-page/network-web.png") repeat;
    background-size: contain;
    height: 1000px;
    margin-bottom: -1000px;
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.grey-background {
    background-color: #FFF;
    z-index: 2;
    position: relative;
}

.preprint-feature .btn {
    color: white;
    border-color: white;
    border-width: 4px;
    &:hover {
        background-color: #204762;
    }
}

.modal {
    color: #333;
}


// FOR SUBJECTS LIST ON INDEX
.subjectList img {
    opacity: 1.0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}


#logo {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    position: relative;
    transition: all 1s ease-in-out;
    &.off {
        transform: rotate(180deg);
        .circle:before {
            top: -200px;
            opacity: 0;
        }
        .circle:after {
            bottom: 200px;
            opacity: 0;
        }
    }
    .circle {
        position: absolute;
        width: 50px;
        height: 50px;
        &:before {
            content: "";
            width: 50px;
            height: 50px;
            background: #FFF;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.4s ease-in-out;
            opacity: 1;
        }
        &:after {
            content: "";
            width: 30px;
            height: 30px;
            background: #38B9EB;
            border-radius: 50%;
            position: absolute;
            bottom: -10px;
            left: 10px;
            transition: all 0.6s ease-in-out;
            opacity: 1;
        }
        &:hover:before {
            top: -15px;
        }
        &:hover:after {
            bottom: -5px;
        }
    }

    #circle-1 {
        transform: rotate(0deg);
        left: 75px;
        top: 0;
    }
    #circle-2 {
        transform: rotate(45deg);
        left: 128px;
        top: 22px;
        &:after {
            z-index: -1;
        }
    }
    #circle-3 {
        transform: rotate(90deg);
        left: 150px;
        top: 75px;
    }
    #circle-4 {
        transform: rotate(135deg);
        left: 128px;
        top: 128px;
        &:after {
            z-index: -1;
        }
    }
    #circle-5 {
        transform: rotate(180deg);
        left: 75px;
        top: 150px;
    }
    #circle-6 {
        transform: rotate(225deg);
        left: 22px;
        top: 128px;
        &:after {
            z-index: -1;
        }
    }
    #circle-7 {
        transform: rotate(270deg);
        left: 0;
        top: 75px;
    }
    #circle-8 {
        transform: rotate(315deg);
        left: 22px;
        top: 22px;
        &:after {
            z-index: -1;
        }
    }
}


.logo {
    width: 150px;
    height: 150px;
}

.logo-sm {
    width: 30px;
    height: 30px;
}

.row-fluid {
    overflow: auto;
    white-space: nowrap;

    &.col-sm-6 {
        display: inline-block;
    }
}

#browse {
    .read-more-toggle-custom {
        color: #337AB7;
        &:hover {
            color: #337AB7;
        }
        &:visited {
            color: #337AB7;
        }
    }
}



// FOR FORMS ON THE PREPRINTS AND ADD-PREPRINTS PAGE
.text-muted {
    color: #777;
}

.show-more-button {
    background: 0;
    border: 0;
    outline: none;
    font-size: 2em;
}

.smallTag{
    text-align:center;
    padding:0.4em;
    border-radius:5px;
    float:left;
    margin:5px;
    margin-left:0px;
    margin-bottom:0px;
    font-size:12px;
    color: white;
}

.date {
    background-color:#4c4c4c;
}

.subjectTag {
    background-color:#006400;
}

.article{
    padding-top:1.1em;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}

#right_panel {
    margin-right: 20px;
}

.prereg-button {
    text-align:center;
    cursor: pointer;
}
.active-custom {
    background-color: #166595;
    color: white;
}

.cp-Panel.cp-is-closed .cp-Panel-body {
    height: 0;
    overflow: hidden;
}

.preprint-form-section {
    header {
        @extend a;
        cursor: pointer;
        font: {
            size: 16px;
            font-weight: bold;
        }
        display: block;
        margin: 1rem 0;
        &:hover, &:focus {
            text-decoration: none;
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
        }
        &.cp-is-open {
            cursor: default;
            color: #333;
        }
        &.valid {
            .preprint-section-status .fa {
                color: #009688;
                display: block;
            }
        }
        &.invalid {
            .preprint-section-status .fa {
                color: #F44336;
                display: block;
            }
        }
        .fa {
            font-size: 20px;
        }
        .preprint-section-status .fa {
            color: gray;
            transition: color 0.1s linear;
            display: none;
        }
    }
    .cp-Panel-body {
        opacity: 0;
        overflow: hidden;
        transition: {
            property: height, opacity;
            duration: 0.2s;
            timing-function: linear;
        }
        &.cp-is-open {
            opacity: 1;
        }
    }
    // THESE STYLES ARE INTERFERING WITH MY STYLES.
    // .row {
    //     margin: 0;
    // }
    // label, input, textarea {
    //     display: block;
    // }
    label > input, label > textarea {
        font-weight: normal;
    }
    textarea {
        resize: none;
    }
}

#preprint-form-upload {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .start {
        &:before, &:after {
            @extend .col-md-2;
            content: "";
        }
        & > button {
            height: 20rem;
            background: none;
            border-radius: 1rem;
            border: gray 1px solid;
            transition: background-color 0.1s linear;
            &:hover {
                background-color: lightgray;
            }
            &:active {
                background-color: gray;
            }
        }
    }
    button {
        margin-top: 1rem;
    }
}

#preprint-form-basics {
    span.required:after {
        content: "(required)";
        color: lighten(red, 30%);
        font-weight: normal;
        float: right;
    }
}

#preprint-form-subjects {
    .subject {
        background-color: $brand-primary;
        display: inline-block;
        color: white;
        overflow: hidden;
        padding: 0 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        border-radius: 2px;
        transition: background-color 0.1s linear;
        &:hover {
            background-color: lighten($brand-primary, 10%);
            & > b:after {
                border-left-color: lighten($brand-primary, 10%);
            }
        }
        & > b {
            display: inline-block;
            padding: 5px 12px ;
            position: relative;
            border-radius: 4px;
            &%pseudo {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 100%;
                top: 50%;
                margin-top: -5rem;
                border: {
                    style: solid;
                    width: 5rem 0 5rem 3rem;
                    color: transparent transparent transparent $brand-primary;
                }
            }
            &:before {
                @extend %pseudo;
                margin-left: 1px;
                border-left-color: white;
                z-index: 1;
            }
            &:after {
                @extend %pseudo;
                transition: border-color 0.1s linear;
                z-index: 2;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 2rem;
                &:before, &:after {
                    display: none;
                }
            }
            & + b {
                margin-left: 2rem;
            }
        }
        & > .fa {
            color: white;
            cursor: pointer;
            transition: color 0.1s linear;
            &:hover {
                color: lighten(red, 40%);
            }
            &:active {
                color: lighten(red, 20%);
            }
        }
    }
    ul {
        height: 30rem;
        list-style: none;
        padding: 0;
        border: 1px lightgray solid;
        overflow: hidden;
        input {
            border-style: none none solid none;
            box-shadow: none;
        }
        li {
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            border-radius: 4px;
            margin: 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            transition: {
                property: background-color, color, font-weight;
                duration: 0.1s;
                timing-function: linear;
            }
            &:hover {
                background-color: $theme-color-light;
                color: #ffffff;
            }
            &:active, &.selected {
                background-color: #337AB7;
                color: white;
                font-weight: bold;
                white-space: normal;
            }
            & + li {
                margin-top: 0;
            }
        }
    }
}

#preprint-form-authors {}

#preprint-form-submit {

}

.preprint-providers {

}


#view-page{
    background-color: #FCFCFC;
    font-family : 'Open Sans', Helvetica, sans-serif;
    .osf-box-lt{
        background-color: #F3F5F5;
    }
    .header-row{
        color: white;
    }
    .view-authors{
        color: #337ab7;
        //float: left;
    }
    .round-btn {
        border-radius: 25px;
        background-color: #4c4c4c;
        color: white;
    }
    #mfr-col{
        position: relative;
    .expand-mfr-carrot {
        position: absolute;
        right: 0;
        top: 0;
        color: #888888;
        background: 0;
        border: 0;
        outline: none;
        }
    }
}

//For Supplementary File Widget
#preprint-file-view {
    section {
        position: relative;
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
        .file-selected-arrow {
            color: #888888;
            position: absolute;
            top: -20px;
            font-size: xx-large;
            left: 2px;
        }
    }

    .osf-box{
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .box{
        background-color: white;
        text-align: center;
        cursor: pointer;
        &.selected{
            background-color: #F3F5F5;
        }
        &:hover {
            border-color: #337AB7;
        }
    }
    .show-more-button {
        color: #F3F5F5;
        background: #D8D8D8;
        font-size: 2em;
    }
}

.file-browser {
    a {
        cursor: pointer;
    }

    .breadcrumb {
        margin-bottom: 0;
    }

    .file-browser-list {
        position: relative;
        height: 200px;
    }

    .file-browser-item {
        height: 30px;
        padding: 3px;
    }

    .file-browser-item:hover {
        background-color: #E0EBF3; /* $color-hover; */
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }

    .selected {
        background-color: #337AB7; /* $color-select; */
    }
}

#selectedFileExisting {
    margin: 5px;
    padding: 5px;
}

#convertExistingOrCreateComponent {
    padding-left: 15px;
}
