:root {
    --theme-color-primary: #BDA0CB;
    --theme-color-secondary: #660198;
    --osf-blue: #67a3bf;
}

/* OSF Preprints langing page */
.osf-preprint-header-img {
    background: var(--theme-color-primary);
    /* Old browsers */
    background: -moz-linear-gradient(35deg, var(--theme-color-primary) 0%, var(--theme-color-secondary) 50%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--theme-color-primary)), color-stop(50%, var(--theme-color-secondary)), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(35deg, var(--theme-color-primary) 0%, var(--theme-color-secondary) 50%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(35deg, var(--theme-color-primary) 0%, var(--theme-color-secondary) 50%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(35deg, var(--theme-color-primary) 0%, var(--theme-color-secondary) 50%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(35deg, var(--theme-color-primary) 0%, var(--theme-color-secondary) 50%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--theme-color-primary), endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    padding-top: 80px;
    position: relative;
}

.osf-preprint-lead {
    font-weight: 100;
    font-size: 8em;
}

.icon-circle {
    display: inline-block  ;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border: 3px solid #D3E1EE;
}

.icon-bar .fa-custom-7x {
    font-size: 50px;
}



.org-logo {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.org-logo img {
    padding: 20px 20% 0 20%;
}

.org-logo div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.blue-icon {
    color: #337ab7;
}

.osf-preprint-p {
    font-size: 16px;
}

.network-img {
    background: url("/static/img/meeting-page/network-web.png") repeat;
    background-size: contain;
    height: 1000px;
    margin-bottom: -1000px;
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.grey-background {
    background-color: #FFFFFF;
    z-index: 2;
    position: relative;
}

.preprint-feature a {
    color: white;
    font-weight: bold;
}



/* Search bar */
