.popover {
    max-width: 100%;
}

.popover-button {
    margin-left: 7px;
    height: 34px;
}

.popover-content {
    background: white;
    overflow: auto;

    .form-group {
        margin-bottom: 0px;
        width: 150px;
    }
}
