.popover {
    max-width: 100%;
}

.popover-button {
    margin-left: 7px;
    height: 34px;
}

.popover-content {
    background: white;
    overflow: auto;

    .form-group {
        margin-bottom: 0px;
        width: 150px;
    }
}

.flexbox {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.social-icons {
    padding: 15px 0px 15px 0px;
}

.plaudit-widget {
    flex: auto;
    padding-right: 33px;
}
