$logo-dir: '../img/provider_logos/';

@mixin brand(
    $theme-color-1,
    $theme-color-2,
    $theme-color-3,
    $theme-color-4,
    $theme-color-5,
    $logo,
    $logo-square,
    $use-white-share-logo,
    $use-theme-color-logo,
    $use-contrast-link-color
) {
    @if ($use-contrast-link-color) {
        a,
        .preprint-form-section header {
            color: $theme-color-3;
        }
    } @else {
        .preprint-subjects {
            background-color: white;
        }
    }

    .preprint-header {
        background-image: none;
        background-color: $theme-color-1;
        color: $theme-color-2;
        padding-top: 100px;

        .preprint-brand {
            height: 140px;
        }

        a:not(.btn) {
            color: $theme-color-2;
        }
    }

    .navbar-image {
        background-image: url($logo-square);
    }

    .preprint-brand {
        background-image: url($logo);
    }

    .preprint-navbar {
        &,
        .nav > li > a.active {
            background-color: $theme-color-3;
            color: $theme-color-2;
        }

        .navbar-toggle .icon-bar {
             background-color: $theme-color-2;
        }
        a {
            color: $theme-color-2;
        }

        a.navbar-brand {
            color: if($use-theme-color-logo, $theme-color-4, $theme-color-2);
        }

        .navbar-brand:hover,
        .nav > li > a:hover {
            background-color: $theme-color-3;
            opacity: 0.75;
        }

        .nav > li.open,
        .nav > li.open > a,
        .nav > li.open > a:hover,
        .nav > li.open > a:focus:not(.active):hover,
        .nav > li > a:focus:not(.active):hover {
            background-color: $theme-color-4;
            color: $theme-color-5;
        }
    }

    #preprint-form-subjects {
        .subject,
        .subject > .fa,
        ul li.selected,
        ul li:active {
            background-color: $theme-color-3;
            color: $theme-color-2;
        }

        .subject:hover,
        .subject:hover > .fa,
        ul li:hover {
            background-color: $theme-color-1;
            color: $theme-color-2;
        }

        .subject:hover > .fa {
            opacity: 0.75;
        }

        .subject {
            b:after {
                border-left-color: $theme-color-3;
            }

            &:hover > b:after {
                border-left-color: $theme-color-1;
            }
        }
    }

    .dropdown-menu > li > a:hover {
        color: $theme-color-1;
    }

    .subject-item > .btn-primary {
        color: $theme-color-2;
        background-color: $theme-color-3;
        border-color: $theme-color-1;
    }

    .subject-item > .btn-primary:hover {
        background-color: $theme-color-1;
        border-color: $theme-color-3;
    }

    .preprint-filter {
        &,
        .fa {
            color: $theme-color-2;
        }
    }

    .preprint-error-page,
    .preprint-advisory,
    .preprint-submit-header,
    .preprint-search-header,
    .provider-filter {
        background: $theme-color-1;
        color: $theme-color-2;
    }

    .subject-filter {
        &,
        .fa {
            background-color: $theme-color-3;
        }
    }

    .preprint-error-page,
    .preprint-advisory {
        min-height: 200px;

        a:not(.btn) {
            @if ($use-contrast-link-color) {
                color: $theme-color-4;
            }
            font-weight: bold;
        }
    }

    #view-page .header-row {
        padding-top: 40px;
    }

    @if ($use-white-share-logo) {
        .preprint-search-header .share-logo {
            width: 48px;
            height: 30px;
            background-image: url('../img/share-logo-white.png');
        }
    }

    .alert-maintenance {
        margin-top: 52px;
    }
}
