@import 'brand';

@include brand(
    #efefef,
    black,
    #caebf2,
    #ff383f,
    black,
    $logo-dir + 'psyarxiv-color.png',
    $logo-dir + 'psyarxiv-square-color-small.png',
    false,
    true,
    false
);

.preprint-advisory {
    background: #caebf2;
    color: black;
}

#view-page .osf-box-lt .fa {
    color: #ff383f;
}
