@import 'brand';

@include brand(
    #062F4F,
    white,
    #216C79,
    white,
    black,
    $logo-dir + 'psyarxiv-color-small.png',
    $logo-dir + 'psyarxiv-square-color-small.png',
    true,
    true,
    false
);

.preprint-submit-button {
    background: #CF1D35;
    border-color: #660E1A;
}

.preprint-submit-button:hover {
    background: #660E1A;
    border-color: #660E1A;
}

.branded-footer a,
#view-page .osf-box-lt .fa {
    color: #CF1D35;
}
