<div class='filter-block'>
    {{search-facet-worktype-hierarchy state=state defaultCollapsed=true
        data=data onClick=(action 'toggle')}}
    <div class='indent row'>
        {{search-facet-worktype-button type='creative work' collapsible=false
                selectedTypes=selected onClick=(action 'toggle') toggleState=toggleState
                toggleCollapse=false}}
    </div>
</div>
