<div>
    {{fa-icon statusIcon class=statusIconClass}} {{statusLanguage}}
    {{#if submission.submissionUrl}}
        <a target="_blank" rel="noopener" class="fa fa-external-link" href={{submission.submissionUrl}}></a>
    {{/if}}
</div>
