a,
.preprint-form-section header {
  color: #85BF9B; }

.preprint-header {
  background-color: #E7F7E1;
  color: black;
}
  .preprint-header a:not(.btn) {
    color: black; }


.preprint-navbar,
.preprint-navbar .nav > li > a.active {
  background-color: #85BF9B;
  color: black; }

.preprint-navbar .navbar-toggle .icon-bar {
  background-color: black; }

.preprint-navbar a {
  color: black; }

.preprint-navbar a.navbar-brand {
  color: black; }

.preprint-navbar .navbar-brand:hover,
.preprint-navbar .nav > li > a:hover {
  background-color: #85BF9B;
}

.preprint-navbar .nav > li.open,
.preprint-navbar .nav > li.open > a,
.preprint-navbar .nav > li.open > a:hover,
.preprint-navbar .nav > li.open > a:focus:not(.active):hover,
.preprint-navbar .nav > li > a:focus:not(.active):hover {
  background-color: white;
  color: black; }

#preprint-form-subjects .subject,
#preprint-form-subjects .subject > .fa,
#preprint-form-subjects ul li.selected,
#preprint-form-subjects ul li:active {
  background-color: #85BF9B;
  color: black; }

#preprint-form-subjects .subject:hover,
#preprint-form-subjects .subject:hover > .fa,
#preprint-form-subjects ul li:hover {
  background-color: #E7F7E1;
  color: black; }

#preprint-form-subjects .subject b:after {
  border-left-color: #85BF9B; }

#preprint-form-subjects .subject:hover > b:after {
  border-left-color: #E7F7E1; }

#preprint-form-subjects .subject .right-arrow:before {
  border-left: 1.4rem solid #85BF9B; }

#preprint-form-subjects .subject:hover .right-arrow:before {
  border-left-color: #E7F7E1; }

.dropdown-menu > li > a:hover {
  color: #E7F7E1; }

.subject-item > .btn-primary {
  color: black;
  background-color: #85BF9B;
  border-color: #E7F7E1; }

.subject-item > .btn-primary:hover {
  background-color: #E7F7E1;
  border-color: #85BF9B; }

.preprint-filter,
.preprint-filter .fa {
  color: black; }

.preprint-error-page,
.preprint-advisory,
.preprint-submit-header,
.search-header,
.provider-filter {
  background: #E7F7E1;
  color: black; }

.subject-filter,
.subject-filter .fa {
  background-color: #85BF9B; }

  .preprint-error-page a:not(.btn),
  .preprint-advisory a:not(.btn) {
    color: white;
}

/* This needs to be in every style.css to have discover page show right logo */
.provider-brand {
    background-image: url('./wide_color.png');
}
