{{title 'Page not found'}}

<div class="preprint-404">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> Page not found </h1>
                <p> The page you were looking for is not found on the OSF Preprint service. <br> If this should not have occurred and the issue persists, please report it to <a href="mailto:support@osf.io">support@osf.io</a></p>
                {{#link-to "index" class="btn btn-primary m-t-md"}}Go to OSF Preprints{{/link-to}}

            </div>
        </div>

    </div>
</div>
