<style>
#main {
    margin-top: 100px;
}
</style>
<div class="m-b-md p-md osf-box" id="main">
    <div class="row">
        <div class="col-md-7">
            <h4>Preview:</h4>
            <iframe src="http://google.com" style="width:100%; height:100%;"></iframe>
        </div>
        <div class="col-md-5">
            {{preprint-form makePost=(action "makePost")}}
        </div>
    </div>
    <div class="row">

    </div>
</div>
<!--makePost=(action "makePost")-->
