<style>
#main {
    margin-top:10%;

}

    .container{
        padding-right:10px;
        padding-left:10px;
    }

    .osf-box{
        border:0px;
    }


</style>

<div class="container"> <!--CONTAINER DIV-->

<div class="m-b-md p-md osf-box" id="main"> <!--MAIN DIV-->

    <h1>Add Preprint</h1>

    <div class="row"> <!--ROW DIV-->
        <div class="col-lg-7"> <!--COL 7 DIV--><br>

            {{dropzone-widget preUpload=(action 'preUpload') buildUrl=(action 'buildUrl') listeners=dropzoneOptions options=dropzoneOptions}}

        </div> <!--END COL 7 DIV-->
        <div class="col-lg-5"> <!--COL 5 DIV-->
            {{preprint-form uploadFile=(action 'uploadPreprintFile')}}
        </div> <!--END COL 5 DIV-->
    </div> <!--ROW DIV-->
    <div class="row"> <!--2ND ROW DIV-->

    </div> <!--END OF 2ND ROW-->
</div> <!--END MAIN DIV-->

</div> <!--END CONTAINER DIV-->
<!--makePost=(action "makePost")-->
