<div class="container"> <!--CONTAINER DIV-->

<div class="m-b-md p-md osf-box" id="main"> <!--MAIN DIV-->

        <div class="row" id="addPreprint"> <!--ROW-->
            <div class="col-md-12"> <!--COL-->
                <h1>Add Preprint</h1>
            </div> <!--END COL-->
        </div> <!--END ROW-->

    <div class="row"> <!--FORM ROW DIV-->
        <div class="col-md-7"> <!--COL 7 DIV-->
            <!--TODO: ADD EMBER OSF CONPONENT AND LOGIC FOR ROUTES-->
            {{file-widget preUpload=(action 'preUpload') buildUrl=(action 'buildUrl') listeners=dropzoneOptions options=dropzoneOptions}}
                <br>
            {{dropzone-widget preUpload=(action 'preUpload') buildUrl=(action 'buildUrl') listeners=dropzoneOptions options=dropzoneOptions}}
        </div> <!--END COL 7 DIV-->

        <div class="col-md-5"> <!--COL 5 DIV: FORM-->
            {{preprint-form buttonAction=(action 'uploadNewPreprintToNewProject')}}
            <!--<button class="btn btn-primary" onclick={{action 'closeModal'}}>Add File</button>-->
        </div> <!--END COL 5 DIV: FORM-->

    </div> <!--END FORM ROW-->


</div> <!--END MAIN DIV-->

</div> <!--END CONTAINER DIV-->
<!--makePost=(action "makePost")-->
