<body role="document">

<div class="container space-top space-bottom">
    {{search-preprints}}
</div>

<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-4">

            {{taxonomy-tree filter="filter"}}

            <div> <!--SUBJECT TAGS DIV-->
                <!--SUBJECTS BUTTONS-->
                <h6>Tags</h6>
                <button type="button" class="btn btn-info">talk</button>
                <button type="button" class="btn btn-info">CREP</button>
                <button type="button" class="btn btn-info">Poster</button>
                <button type="button" class="btn btn-info">Randolph-Macon</button>
                <button type="button" class="btn btn-info">replication</button>
            </div> <!--END SUBJECT TAGS DIV -->

        </div>
        <div class="col-lg-8" id="preprintList">
            {{#each filteredPreprints as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>
    </div>
</div>

</body>

