<body role="document">

<div class="container space-top space-bottom">
    {{search-preprints search="search"}}
</div>

<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-4">

            <!--"filter" is defined in the browse route-->
            <!--the taxonomy-tree calls sendAction("filter") with arguments that aren't explicitly defined here-->
            {{taxonomy-tree filter="filter"}}

        </div>
        <div class="col-lg-8" id="preprintList">
            {{#each filteredPreprints as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>
    </div>
</div>

</body>

