<style>
    .content{
        padding-top:70px;


    }

    h4{
        color:#337ab7;
    }

</style>





{{navbar}}
<div class="row"> <!--PAGE DIV (ROW)-->
    <div class="container"> <!--CONTAINER DIV-->
        <div class="content"> <!--CONTENT DIV-->
        <div class="col-md-3"> <!-- SIDEBAR COLUMN DIV-->
            <h3>Improve your search</h3>


            <li class="dropdown open"> <!--CATEGORY DROPDOWN-->
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                   Browse
                   <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">subcategory</a></li>
                    <li><a href="#">Subcategory</a></li>
                    <li><a href="#">Subcategory</a></li>
                </ul>
            </li> <!--END OF CATEGORY DROPDOWN-->


        </div> <!--END OF SIDEBAR DIV (COL)-->

            <div class="col-md-9">
                <h1>Category Name</h1>


                {{#each model as |preprintEntry|}}
                    {{preprint-entry preprint=preprintEntry}}
                {{/each}}



            </div>




    </div> <!--END OF CONTENT DIV-->
    </div> <!--END OF CONTAINER DIV (ROW)-->
</div> <!--END OF PAGE DIV (ROW)-->


{{outlet}}
