

<body role="document">

<div class="container">
    <div class="navbar-header">
        <p class="text-muted">Manuscript Archive</p>
        <p>A growing repository of unpublished papers powered by the Open Science Framework.</p>
        {{input value="Search"}}
    </div>
</div>

</body>