<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2>{{t 'error-no-api.heading'}}</h2>
            <p>{{t 'error-no-api.message'}}</p>
        </div>
    </div>
</div>
