{{nav-bar}}
<br><br><br><br>
{{#link-to "discovery"}}Discovery{{/link-to}}
{{#link-to "manuscript"}}Manuscript{{/link-to}}

<!--
<button class="btn btn-success" onclick={{action 'login'}}>Login</button>
-->
{{outlet}}
