<body role="document">

<div class="osf-preprint-header-img">
    <div class="container">
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
        </div>

        <div id="search">
            {{search-preprints}}
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center m-b-lg preprint-feature" >
                {{upload-button}}
            </div>

            <div class="col-md-6 col-lg-5 col-lg-offset-2 col-xl-4 col-xl-offset-4 text-center m-b-lg preprint-feature">
                {{project-button}}
            </div>
        </div>
    </div>
</div>



{{recent-uploads}}



</body>
