<body role="document">

<div class="osf-preprint-header-img-original">
    <div class="container">
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
        </div>

        <div id="search">
            {{search-preprints}}
        </div>

        <div id="recentUploads">
            <h2>Recent Uploads</h2>
            {{#each model as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>


    </div>
</div>

<div class="container">
    <div class="space-top space-bottom text-center">
        {{upload-button}}
    </div>
</div>

<div class="space-top space-bottom moving-logo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><strong>Tools for communities</strong></h2>
                <h4> Create your own branded preprint servers backed by the OSF.</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div id="logo">
                    <div class="circle" id="circle-1"><span></span></div>
                    <div class="circle" id="circle-2"><span></span></div>
                    <div class="circle" id="circle-3"><span></span></div>
                    <div class="circle" id="circle-4"><span></span></div>
                    <div class="circle" id="circle-5"><span></span></div>
                    <div class="circle" id="circle-6"><span></span></div>
                    <div class="circle" id="circle-7"><span></span></div>
                    <div class="circle" id="circle-8"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
