<body role="document">

<div class="osf-preprint-header-img">
    <div class="container">
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
        </div>

        <div id="search">
            {{search-preprints}}
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center m-b-lg preprint-feature" >
                {{fa-icon icon="cloud-upload" size=5}}
                <h3 class="f-w-xl">Upload your research</h3>
            </div>
            <div class="col-md-6 col-lg-5 col-lg-offset-2 col-xl-4 col-xl-offset-4 text-center m-b-lg preprint-feature">
                {{fa-icon icon="cubes" size = 5}}
                <h3 class="f-w-xl">Tag an existing file as a preprint</h3>
            </div>
        </div>
    </div>
</div>


{{recent-uploads}}



</body>
