<div class="preprint-404">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{t "_404.heading"}}</h1>
                <p>{{t "_404.paragraph.line1"}} <br> {{t "_404.paragraph.line2"}} <a href="mailto:support@osf.io">support@osf.io</a></p>
                {{#link-to "index" class="btn btn-primary m-t-md"}}{{t "_404.go_to"}}{{/link-to}}

            </div>
        </div>

    </div>
</div>
