
<style>

    /*CONTENT INFO */
    .container{
        padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    }

    #content{
        margin-top:5em;
    }

    /*BUTTON INFO*/
   .btn{
       background:#ddeeff;
       margin-right:5px;
       margin-bottom:5px;
       color:#4c4c4c;
       border-color:#ddeeff;
   }

   .btn:hover{
       background-color:#337AB7;
   }

   /*DROPDOWN INFO*/
    li{
        list-style:none;
    }

    #DropdownSubjects{
        background-color: #696969;
        width:100px;
        height: 40px;
        line-height:40px;/*This should be the same as height, keeps text aligned vertically*/
        padding:0em;
        text-align:center;
        border-radius:5px;
    }

    a{
        color:white;
    }

    a:hover{
        color: #c6c6c6;
        text-decoration:none;
    }

   /*TAG INFO*/
    .tag{
       background-color:#B0BDCA;
        border-color:#B0BDCA;
   }

    /*TYPOGRAPHY*/
    h1{
        margin-top:0px;
    }
    h4{
        color:#337ab7;
    }

    a.read-more-toggle-custom{
        color:#337ab7;
    }

    .subjects{
        padding-left:0px;
        padding-top:0px
    }




</style>

<!--ACTUAL PAGE CONTENT-->
<div class="container" id="content"><!--CONTAINER DIV-->
    <div class="row"> <!--CONTENT ROW-->
        <div class="col-md-3"><!--COL TAGS-->
            <h5> Improve your search:</h5>

            <br>

            <!--DROPDOWN BARS-->
            <!--SUBJECT DROPDOWN-->
            <li class="dropdown" id="DropdownSubjects">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subject <span class="caret hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">About</a></li>
                        <li><a href="">FsAQ</a></li>
                        <li><a href="/getting-started">Getting Started</a></li>
                    </ul>
                </li>
            <br>

              <!--DROPDOWN BARS-->
            <!--SUBJECT DROPDOWN-->
            <li class="dropdown" id="DropdownSubjects">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Secondary Subject <span class="caret hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">About</a></li>
                        <li><a href="">FsAQ</a></li>
                        <li><a href="/getting-started">Getting Started</a></li>
                    </ul>
                </li>
            <br>


            <div class="subjects"> <!--SUBJECT TAGS DIV-->
                <!--SUBJECTS BUTTONS-->
                <h6>Tags</h6>
                <button type="button" class="btn btn-info">talk</button>
                <button type="button" class="btn btn-info">Computer Science</button>
                <button type="button" class="btn btn-info">CREP</button>
                <button type="button" class="btn btn-info">Poster</button>
                <button type="button" class="btn btn-info">Randolph-Macon</button>
                <button type="button" class="btn btn-info">Astronomy</button>
                <button type="button" class="btn btn-info">replication</button>
                <button type="button" class="btn btn-info">cancer biology</button>


            </div> <!--END SUBJECT TAGS DIV -->
        </div><!--END OF ROW TAGS-->

        <div class="col-md-9"><!--RESULTS COLUMN-->
            <h1>Browse Articles</h1>

            {{#each model as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}

        </div><!--END OF COL RESULTS-->
    </div><!--END OF CONTENT ROW-->

</div> <!--END OF CONTAINER DIV-->