<div class="panel panel-default preprint-citation">
    <div class="panel-body">
        <div class="f-w-xl">APA</div>
        <div>{{apa}}</div>
        <div class="f-w-xl">MLA</div>
        <div>{{mla}}</div>
        <div class="f-w-xl">Chicago</div>
        <div>{{chicago}}</div>
    </div>
</div>
